*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #8EC5FC;
    background-image: linear-gradient(88deg, #8EC5FC 20%, #E0C3FC 70%);

}
 
.container{
    height: 80vh;
    
    display: flex;
    gap: 2rem;
    align-items: center;
    flex-direction: column;
}
.game{
    width: 25vw;
    min-width: 300px;
    
   
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.box{
    height: 5rem;
    width: 5rem;
    border: none;
    background-color: azure;
    font-size: xx-large;
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
    color:rgba(83, 0, 249, 0.833);
    font-weight: 400;
    

}

p{
    font-family: cursive;
    font-size: xx-large;
    
 
    
    
}
.winnerSection{
    height: 20vh;
    display: flex;
    flex-direction: column;
    
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
    
  
}

.winnerSection button{
    padding: 0.2rem 1rem;

    
}

.hide{
    display:none;
}

#resetBtn{
    padding: 0.2rem 1rem;
}
h2{
    margin-top: 3rem;
    font-family: cursive;
}